// Color Variables
$primary-color: #ffc13a;
$secondary-color: #18183b;
$text-color: #181818;
$text-color-light: #ffffff;
$text-color-dark: #2a4555;
$body-color: #fff;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Work Sans', sans-serif;
$secondary-font: 'Lexend';
$icon-font: 'themify';